.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: linear-gradient(to bottom, #76d38a, #ffffff);
  padding: 30px;
}
.headSection {
  display: flex;
  justify-content: center;
}
.header {
  color: white;
  font-size: 48px;
}
.buttonArea {
  display: flex;
  justify-content: center;
}
.button {
  flex: 1;
  all: unset;
  border: solid 2px black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 36px;
  transition: 300ms;
  background-color: blueviolet;
  color: white;
}
.button:hover {
  border-color: white;
  color: black;
  cursor: pointer;
}
